@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0px;
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    display: flex;
    list-style-type:  none;
    gap: 14px;    
}

.header h1 {
    font-size: 24px;
}

.header ul {
    font-size: 18px;
    color: #e5e7eb;
}

.header,
.footer {
    background-color: #1f2937;
}

.header {
    color: #f9faf8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-logo {
    font-size: 2.5rem;
}

.hero {
    background-color: #1f2937;
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.hero-img {
    display:flex;
    background-color: grey;
    color: #f9faf8;
    height: 300px;
    width: 500px;
    justify-content: center;
    align-items: center;
}

.hero-text {
    width: 500px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0px;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0px;
}

.hero-cta {
    background-color: #3882f6;
    color:#e5e7eb;
    border-radius: 6px;
    height: 30px;
    width: 110px;
    font-weight: 700;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border: 0;
}

.sub-heading {
    display: flex;
    justify-content: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    margin-top: 50px;
}

.info-pane {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 350px;
    gap: 30px;
}

.info-text {
    width: 170px;
    color: #1f2937;
}

.info-box {
    height: 170px;
    width: 170px;
    border: #3882f6 solid;
    border-radius: 12px;
    margin-bottom: 18px;
}

.testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    height: 600px;
    font-size: 36px;
    
}

.testimonial-container{
    width: 800px;
    margin-top: 80px;
    margin-bottom: 80px;
    font-weight: 300;
}

.testimonial-container p {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    width: 800px;
}

.testimonial-text {
    font-style: italic;
    text-align: flex-end;
}

#testimonial-quote {
    font-style: normal;
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;   
    text-align: right;
}

.cta-container{
    display: flex;
    height: 250px;
    justify-content: center;
    align-items: center;
    margin: 48px 0px 48px 0px;
}

.cta {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882f6;
    border-radius: 8px;
    height: 140px;
    width: 75%;
    color: #f9f9f9;
}

.cta button {
    padding: 6px 24px 6px 24px;
    color: #f9f9f9;
    background-color: transparent;
    border: solid #e5e7eb;
    border-radius: 8px;
    border-width: 2px;
    font-size: 16px;
    font-weight: 700;
}

.hero-cta:hover, .cta button:hover {
    background-color: #1d4ed8;
    cursor: auto;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    height: 85px;
}
